<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/chatTeacher.css' />
  </head>
  <body>
    <header>
      <div class="header">
        <img src="/images/logo.png" onClick="location.href='/'"  alt="Avatar" class="avatars">
        <a class="menu1" onClick="location.href='/joinClass'">클래스 참여하기</a>
        <a class="menu2" onClick="location.href='/createClass'">클래스 만들기</a>
        <a class="menu3" onClick="location.href='/myClass'">내 클래스</a>
      
        <a class="who_login">'000' 님, 어서오세요</a>
      </div>
    </header>
    <main>
      <div class="sentance">
        <p class="classname">소프트웨어 개발 프로세스 모델이란?</p>
        <br>
        <p class="default">이곳은 선생님과 대화하는 채팅 공간이에요</p>
      </div>

      <div class="back">
        <a onclick="location.href='/choose'" class="backbutton">선택 화면으로 돌아가기</a>
      </div>

      <div class="chatwindow">
        <div class="student">
            <p class="studentname">신은재 학생</p>
        </div>

        <div class="chat">
          <p class="chat1">화장실 다녀오렴~</p>
        </div>
        
        <div class="chat_teacher">
          <p class="chat2">선생님 저는 아직 이해를 하지 못했어요ㅜㅜ</p>
        </div>

        <input type="text" class="chatbox">
        <input type="submit" class="send" value="전송">
      </div>
        
    </main>
  </body>

  <footer>
    <div class="inner-footer">
      <div class="left-footer">
        <a class="logo" href="/">
          <img class="web" src="/images/LOGO.png">
        </a>
        <p class="teamname">Team - KH</p>
        <p class="copyright">Copyright © HandsUp</p>
       </div>
       <div class="right-footer">
          <a class="github" href="https://github.com/111111022/KH_project.git">
            <img class="githubpic" src="/images/github.png">
          </a>
          <a class="agree1">이용약관</p>
          <a class="agree2">개인정보처리방침</p>
          <a class="agree3">문의하기</p>
       </div>
      </div>
    </div>
  </footer>
</html>

