<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/classIn.css' />
  </head>
  <body>
    <div class="header">
        <img src="/images/logo.png" onClick="location.href='/'"  alt="Avatar" class="avatars">
        <a class="menu1" style="width:auto;" >클래스 참여하기</a>
        <a class="menu2"style="width:auto;" >클래스 만들기</a>
        <a class="menu3" onClick="location.href='/myClass'">내 클래스</a>
        <a class="who_login">'000' 님, 어서오세요</a>
    </div>

        <a class="teacher_name_text">김은애 선생님이 진행하는 수업입니다</a>
        <a class="class_name_text">2학년 3반 친구들과 함께하는 소프트웨어 공학!</a>
        <button id="classIn_button" type="button">실시간 수업 참여하기</button>

    <!-- 클래스 리스트 -->
    <a style="position: absolute; left: 14%; top: 487px; font-size: 35px; font-style: normal; font-weight: bold; text-align: left; color: #975AB4;">지금까지 진행된 수업</a>
    <div class="down">
      <table class="lists">
          <colgroup>
          <col width="55%">
          <col width="45%">
        </colgroup>
          <thead style="border-bottom: 3px solid #797979;">
            <tr>
              <th scope="col" >수업 이름</th>
              <th scope="col">수업 일자</th>
            </tr>
          </thead>
          <tbody>
            <tr id= 'item'  style="cursor: pointer;">
              <td class="class_name">애자일 프로세스 발표 수업</td>
              <td class="teacher_name">2021.09.15.</td>
            </tr>
            <tr id= 'item'  style="cursor: pointer;">
                <td class="class_name">단계적 프로세스 발표 수업</td>
                <td class="teacher_name">2021.09.13.</td>
              </tr>
              <tr id= 'item'  style="cursor: pointer;">
                <td class="class_name">집 가고 싶다</td>
                <td class="teacher_name">2021.09.11.</td>
              </tr>
           
          </tbody>
        </table>
    </div>

  <footer>
    <div class="inner-footer">
      <div class="left-footer">
        <a class="logo" href="/">
          <img class="web" src="/images/LOGO.png">
        </a>
        <p class="teamname">Team - KH</p>
        <p class="copyright">Copyright © HandsUp</p>
       </div>
       <div class="right-footer">
          <a class="github" href="https://github.com/111111022/KH_project.git">
            <img class="githubpic" src="/images/github.png">
          </a>
          <a class="agree1">이용약관</p>
          <a class="agree2">개인정보처리방침</p>
          <a class="agree3">문의하기</p>
       </div>
      </div>
    </div>
  </footer>

  </body>
</html>
