<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/home.css' />
  </head>
  <body>
    
    <img src="/images/logo.png" onClick="location.href='/'"  alt="Avatar" class="avatars">
    <a class="menu1" onClick="location.href='/joinClass'">클래스 참여하기</a>
    <a class="menu2" onClick="location.href='/createClass'">클래스 만들기</a>
    <a class="menu3" onClick="location.href='/myClass'">내 클래스</a>
    <a class="login" onClick="location.href='/login'">로그인</a>
    <a class="signUp" onClick="location.href='/signUp'">회원가입</a>
    <a class="signUp" onClick="location.href='/signUp'">회원가입2</a>
  
    <footer>
      <div class="inner-footer">
        <div class="left-footer">
          <a class="logo" href="/">
            <img class="web" src="/images/LOGO.png">
          </a>
          <p class="teamname">Team - KH</p>
          <p class="copyright">Copyright © HandsUp</p>
         </div>
         <div class="right-footer">
            <a class="github" href="https://github.com/111111022/KH_project.git">
              <img class="githubpic" src="/images/github.png">
            </a>
            <a class="agree1">이용약관</p>
            <a class="agree2">개인정보처리방침</p>
            <a class="agree3">문의하기</p>
         </div>
        </div>
      </div>
    </footer>
  
  </body>
</html>