<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/signUp.css' />
  </head>
  <body>
    <header>
      <div class="header">
        <img src="/images/logo.png" onClick="location.href='/'"  alt="Avatar" class="avatars">
        <a class="menu1" onClick="location.href='/joinClass'">클래스 참여하기</a>
        <a class="menu2" onClick="location.href='/createClass'">클래스 만들기</a>
        <a class="menu3" onClick="location.href='/myClass'">내 클래스</a>
        <a class="login" onClick="location.href='/login'">로그인</a>
        <a class="signUp" onClick="location.href='/signUp'">회원가입</a>
      </div>
    </header>
  </body>

  <div class="title">회원가입</div>

    <div class="signUpBoard">
      <form class="signUpForm">
          <div class="select">
            <input type="radio" id="student" name="userType"><label for="student">학생</label>
            <input type="radio" id="teacher" name="userType"><label for="teacher">선생님</label>
          </div>
          <div class="inputWrapper">
            <div class="input_box">
            <div class="input_text">이름</div>
            <input class='text_input' type='name' name='name' placeholder="이름을 입력하세요" />
            </div>
            <div class="input_box">
            <div class="input_text">아이디</div>
            <input class='text_input' type='text' name='id' placeholder="영문, 숫자를 포함하여 8글자 이상 입력하세요"  />
            </div>
            <div class="input_box">
            <div class="input_text">비밀번호</div>
            <input class='text_input' type='password' name='pwd' placeholder="영문, 숫자, 특수기호를 포함하여 8글자 이상 입력하세요" />
            </div>
            <div class="input_box">
            <div class="input_text">비밀번호 확인</div>
            <input class='text_input' type='ckPassword' name='ckPassword' placeholder="비밀번호를 확인하세요" />
            </div>
            <div class="input_box">
            <div class="input_text">비밀번호 확인 질문</div>
            <input class='text_input' type='qCkPassword' name='qCkPassword' placeholder="비밀번호 찾기에서 답변할 질문을 선택하세요" />
            </div>
            <div class="input_box">
              <div class="input_text">비밀번호 확인 답변</div>
            <input class='text_input' type='aCkPassword' name='aCkPassword' placeholder="비밀번호 찾기 질문의 답을 입력하세요" />
            </div>
          </div>
        <div class='signUpButton' type='submit'><a style="font-family: Noto Sans KR; font-style: normal;font-size: 20px; color: black;">회원가입</a></div>
      </form>
    </div>

  <footer>
    <div class="inner-footer">
      <div class="left-footer">
        <a class="logo" href="/">
          <img class="web" src="/images/LOGO.png">
        </a>
        <p class="teamname">Team - KH</p>
        <p class="copyright">Copyright © HandsUp</p>
       </div>
       <div class="right-footer">
          <a class="github" href="https://github.com/KH-HandsUp/KH-project.git">
            <img class="githubpic" src="/images/github.png">
          </a>
          <a class="agree1">이용약관</p>
          <a class="agree2">개인정보처리방침</p>
          <a class="agree3">문의하기</p>
       </div>
      </div>
    </div>
  </footer>

</html>
