body {
  padding: 0;
  margin: 0;
  height: 100%;
  width : 100%;
  display: block;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

html{
  position: relative;
  height: 1700px;
}

a {
  color: #00B7FF;
}



.menu1,.menu2,.menu3,.login,.signUp
{
    cursor: pointer;
    font-weight: bold;
}

.avatars
{
  position: absolute;
  width: 120px;
  height: 108px;
  left: 262px;
  top: 10px;
}

.menu1
{
  position: absolute;
  width: 160px;
  height: 32px;
  left: 785px;
  top: 39px;
  
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
    color: #000000;
    
}

.menu2
{
  position: absolute;
  width: 127px;
  height: 32px;
  left: 1011px;
  top: 39px;
  
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;

    color: #000000;

}
.menu3
{
  position: absolute;
  width: 86px;
  height: 32px;
  left: 1217px;
  top: 39px;
  
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;

    color: #000000;


}
.login
{
  position: absolute;
  width: 56px;
  height: 29px;
  left: 1511px;
  top: 40px;
  
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  /* identical to box height */
  
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #000000;
}
.signUp
{
  position: absolute;
  width: 74px;
  height: 29px;
  left: 1587px;
  top: 40px;
  
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  /* identical to box height */
  
  display: flex;
  align-items: center;
  text-align: center;

    color: #000000;
}

.classname
{
  position: absolute;
width: 690px;
height: 65px;
left: 259px;
top: 166px;

font-family: Noto Sans KR;
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 65px;
text-align: left;

color: #975AB4;
}

.default{
  position: absolute;
width: 472px;
height: 43px;
left: 259px;
top: 249px;

font-family: Noto Sans KR;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 43px;
text-align: left;

color: #000000;

}

.printchoose1
{
  position: absolute;
  width: 648px;
  height: 404px;
  left: 259px;  
  top: 426px;

  background: #EBEBEB;
  border:none;
  box-shadow: 8px 8px 15px rgba(177, 177, 177, 0.6);
  border-radius: 20px;
}

.printchoose2
{
  position: absolute;
  width: 648px;
  height: 404px;
  left: 999px;
  top: 426px;
  
  background: #EBEBEB;
  border:none;
  
  box-shadow: 8px 8px 15px rgba(177, 177, 177, 0.6);
  border-radius: 20px;
}

.printchoose3
{
  position: absolute;
  width: 648px;
  height: 404px;
  left: 259px;
  top: 927px;
  
  background: #EBEBEB;
  border:none;
  
  box-shadow: 8px 8px 15px rgba(177, 177, 177, 0.6);
  border-radius: 20px;
}

.printchoose4
{
  position: absolute;
  width: 648px;
  height: 404px;
  left: 999px;
  top: 927px;
  
  background: #EBEBEB;
  border:none;
  
  box-shadow: 8px 8px 15px rgba(177, 177, 177, 0.6);
  border-radius: 20px;
}

.hadnspic{
  position: absolute;
  width: 204px;
  height: 204px;
  left: 37%;
  top : 25%
}

.toiletpic{
  position: absolute;
  width: 204px;
  height: 204px;
  left: 37%;
  top : 25%
}

.messagepic{
  position: absolute;
  width: 204px;
  height: 204px;
  left: 37%;
  top : 25%
}

.chatpic{
  position: absolute;
  width: 204px;
  height: 204px;
  left: 37%;
  top : 25%
}


/* footer css 시작*/
footer{
  position: absolute;
  width: 1920px;
  height: 200px;
  left: 0px;
  top: 1500px;
  background: #FAFAFA;
}

.logo{
  position: absolute;
  width: 202px;
  height: 52px;
left: 259px;
top: 20px;
}

.githubpic{
  position: absolute;
  left: 1604px;
  top: 138px;
}

.teamname{
  position: absolute;
width: 100px;
height: 24px;
left: 260px;
top: 116px;

font-family: "Noto Sans KR";
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 150%;

display: flex;
align-items: center;

color: #000000;
}

.copyright{
  position: absolute;
width: 141px;
height: 21px;
left: 260px;
top: 145px;

font-family: "Noto Sans";
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 150%;

display: flex;
align-items: center;

color: #9E9E9E;
}

.agree1{
  position: absolute;
width: 60px;
height: 21px;
left: 1285px;
top: 145px;

font-family: "Noto Sans";
font-style: normal;
font-weight: 200;
font-size: 14px;
line-height: 150%;

display: flex;
align-items: center;

color: #9E9E9E;
}

.agree2{
  position: absolute;
width: 120px;
height: 21px;
left: 1370px;
top: 145px;

font-family: Noto Sans;
font-style: normal;
font-weight: 200;
font-size: 14px;
line-height: 150%;

display: flex;
align-items: center;

color: #9E9E9E;

}

.agree3{
  position: absolute;
width: 60px;
height: 21px;
left: 1507px;
top: 145px;

font-family: Noto Sans;
font-style: normal;
font-weight: 200;
font-size: 14px;
line-height: 150%;

display: flex;
align-items: center;

color: #9E9E9E;
}
