body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}



.menu1,.menu2,.menu3,.login,.signUp
{
    cursor: pointer;
    font-weight: bold;
}

.avatars
{
  position: absolute;
width: 120px;
height: 108px;
left: 14%;
top: 10px;
}
.menu1
{
    position: absolute;
    height: 30px;
    left: 36%; 
    top: 55px;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;

    color: #000000;
    
}

.menu2
{
    position: absolute;
    height: 30px;
    left: 46%;  /* 앞에 메뉴랑 간격 10% */
    top: 55px;

    font-weight: bold;
    font-size: 16px;
    line-height: 30px;

    color: #000000;

}
.menu3
{
    position: absolute;
    height: 30px;
    left: 56%; /* 앞에 메뉴랑 간격 10% */
    top: 55px;

    font-weight: bold;
    font-size: 16px;
    line-height: 30px;

    color: #000000;
}
.login
{
    position: absolute;
    width:250px;
    height: 30px;
    right: 10%;
    top: 55px;

    font-weight: bold;
    font-size: 16px;
    line-height: 30px;

    color: #BE94D1;
    text-decoration: underline;
}
.signUp
{
    position: absolute;
    width:65px;
    height: 15px;
    right: 14%;
    top: 55px;

    font-weight: bold;
    font-size: 16px;
    line-height: 30px;

    color: #000000;
}
/* footer css 시작*/
footer{
  position: absolute;
  width: 100%;
  height: 200px;
  left: 0px;
  background: #FAFAFA;
  top: 100%;
}

.logo{
  position: absolute;
  width: 202px;
  height: 52px;
left: 14%;
top: 10%;
}

.githubpic{
  position: absolute;
  right: 8%;
  top: 138px;
}

.teamname{
  position: absolute;
width: 100px;
height: 24px;
left: 14%;
top: 116px;

font-family: "Noto Sans KR";
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 150%;

display: flex;
align-items: center;

color: #000000;
}

.copyright{
  position: absolute;
  width: 141px;
  height: 21px;
  left: 14%;
  top: 145px;

  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;

  display: flex;
  align-items: center;

  color: #9E9E9E;
}

.agree1{
  position: absolute;
width: 60px;
height: 21px;
right: 24%;
top: 145px;

font-family: "Noto Sans";
font-style: normal;
font-weight: 200;
font-size: 14px;
line-height: 150%;

display: flex;
align-items: center;

color: #9E9E9E;
}

.agree2{
  position: absolute;
width: 120px;
height: 21px;
right: 16%;
top: 145px;

font-family: Noto Sans;
font-style: normal;
font-weight: 200;
font-size: 14px;
line-height: 150%;

display: flex;
align-items: center;

color: #9E9E9E;

}

.agree3{
  position: absolute;
width: 60px;
height: 21px;
right: 12%;
top: 145px;

font-family: Noto Sans;
font-style: normal;
font-weight: 200;
font-size: 14px;
line-height: 150%;

display: flex;
align-items: center;

color: #9E9E9E;
}
/* footer css 끝 */

.middle{
  width: 100%;
  height: 100%;

}

.loginBoard{
  position:absolute;
  left: 28%;
  top: 30%;
  width: 40%;
  height: fit-content;
  background: #FFFFF5;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 50px;
  padding-top: 50px;
  padding-bottom: 200px;
}

.nameText{
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 65px;
  text-align: right;
  color: #000000;
}

/* 라디오 버튼 부분 시작 */
.select {
  padding: 15px 10px;
}
.select input[type=radio]{
  display: none;
}
.select input[type=radio]+label{
  display: inline-block;
  cursor: pointer;
  border: none;
  line-height: 24px;
  text-align: center;
  font-weight:bold;
  font-size:13px;

  padding: 10px;
  width: 120px;
  border-radius: 20px;
}
.select input[type=radio]+label{
  background-color: #EEEEEE;
  color: #000000;
}
.select input[type=radio]:checked+label{
  background-color: #F8E8FF;
  color: #000000;
}
/* 라디오 버튼 부분 끝*/


.loginButton{
  position: absolute;
  width: 10%;
  left: 48%;
  bottom: 5%;
  background: #F8E8FF;
  border-radius: 20px;
  border: 0px solid;

  
    cursor: pointer;
    text-align: center; 
    
    padding: 10px;
}
#deco{
  position: absolute;
  right: 20%;
  top: 55%;
  width: 20%;
}

.text_input{
  position: absolute;
    width: 50%;
    height: 50px;
    background: #FFFFFF;
    
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
   
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
    border: none;

    background: #FFFFFF;
    box-shadow: 4px 4px 15px #E8E8E8;
    border-radius: 20px;

}

#forgetPwd{
  position: absolute;
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  text-align: left;
  text-decoration-line: underline;
  margin-top: 50px;

  color: #000000;
}