body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}



.menu1,.menu2,.menu3,.login,.signUp
{
    cursor: pointer;
    font-weight: bold;
}

.avatars
{
  position: absolute;
width: 120px;
height: 108px;
left: 17%;
top: 10px;
}
.menu1
{
    position: absolute;
    height: 30px;
    /* left: 458px; */
    left: 30%;
    top: 55px;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;

    color: #000000;
    
}

.menu2
{
    position: absolute;
    height: 30px;
    /* left: 700px; */
    left: 46%;
    top: 55px;

    font-weight: bold;
    font-size: 16px;
    line-height: 30px;

    color: #000000;

}
.menu3
{
    position: absolute;
    height: 30px;
    left: 61%;
    top: 55px;

    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    border-bottom: 3px solid #BE94D1;

    color: #BE94D1;
}

.who_login
{
    position: absolute;
    height: 15px;
    right: 13%;
    top: 55px;

    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    text-align: right;

    color: #000000;
}

  .title{
    position: absolute;
    top: 166px;
    left: 17%;;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 65px;
    text-align: right;
    
    color: #975AB4;
    
  }

  .who_join{
    position: absolute;
    height: 43px;
    left: 17%;
    top: 249px;
    
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 43px;
    text-align: right;
    
    color: #000000;
    
  }

  .search_box{
    position: absolute;
    width: 70%;
    height: 100px;
    left: 17%;
    top: 348px;
    
    background: #F6F8C2;
    border-radius: 20px;
  }

  
  #search_text{
    position: absolute;
    left: 8%;
    top: 30%;
    
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 43px;
    text-align: right;
    
    color: #000000;
  }

  #search_input_box{
    position: absolute;
    left: 30%;
    width: 50%;
    height: 60%;
    top: 20%;
    background: #FFFFFF;
    border-radius: 5px;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
  }

  #search_button{
    position: absolute;
    width: 89px;
    height: 43px;
    left: 85%;
    top: 30%;
    background: #D0D0D0;
    border-radius: 10px;
    border: 0px solid;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
  }

  .down{
    position: absolute;
    border-top: 5px solid #000000;
    border-bottom: 3px solid #797979;
    height: fit-content;
    left: 17%;
    top: 545px; 
    width: 70%;
    margin-bottom: 100px;
  }

  .lists{
    width: 100%;
    text-align: center;
    font-style: normal;
    font-size: 30px;
    line-height: 43px;
    font-weight: 500;
  }

  .lists thead th{
    padding: 30px;

    background: #FEFFF1; 
    font-style: normal; 
    font-weight: bold; 
    font-size: 30px;
  }

  .lists tbody td{
    border-top: 3px solid #797979;
    padding-top: 30px;
    padding-bottom: 30px;
  }